/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ===== Page Background ===== */
body {
  min-height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== Main Container ===== */
.question-container {
  background-image: url("2ece1d95982302ca92e83a2c505d5f94.jpg");
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  max-width: 1050px;
  padding: 90px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

/* ===== Page Title ===== */
.Page-title {
  display: block;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
  color: black;
}

/* ===== Top Image ===== */
.question-image {
  width: 520px;
  height: 250px;
  margin: 0 auto 35px;
  background-image: url("6ca6c81197c611412d0fa3ab35e72cce.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* ===== Question Text ===== */
.question-title {
  font-size: 32px;
  background-color: rgba(250, 207, 207, 0.75);
  padding: 15px;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 40px;
}

/* ===== Button Container ===== */
.answers-grid {
  display: flex;
  justify-content: center;
}

/* ===== Start Button ===== */
.answer {
  padding: 18px 60px;
  font-size: 28px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
}

.answer:hover {
  background-color: rgb(212, 108, 212);
}
