/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ===== Page Background ===== */
body {
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== Main Container ===== */
.question-container {
  background-image: url("download.png");
  background-color: white;
  width: 90%;
  max-width: 830px;
  padding: 110px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* ===== Top Image ===== */
.question-image {
  width: 250px;
  height: 140px;
  margin: 0 auto 25px;
  background-image: url("6ca6c81197c611412d0fa3ab35e72cce.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* ===== Question Title ===== */
.question-title {
  font-size: 24px;
  background-color: rgba(250, 207, 207, 0.75);
  padding: 15px;
  border-radius: 8px;
  border: 2px solid black;
  margin-bottom: 30px;
}

/* ===== Answers Layout ===== */
.answers {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* ===== Answer Buttons ===== */
.answer {
  padding: 15px;
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
}

.answer:hover {
  background-color: white;
}

/* ===== Correct & Wrong ===== */
.correct {
  background-color: greenyellow;
}

.wrong {
  background-color: red;
}
