/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Page layout */
body {
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main container */
.risky-container {
  background-image: url("2ece1d95982302ca92e83a2c505d5f94.jpg");
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  max-width: 1050px;
  padding: 250px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

/* Title */
.page-title {
  display: block;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
  color: black;
}

/* Description text */
.description {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Results box */
.results {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid black;
  margin-bottom: 30px;
}

.results ul {
  list-style: none;
  margin-top: 10px;
}

.results li {
  font-size: 18px;
  margin: 5px 0;
}

/* Risky button */
.risky-btn {
  padding: 18px 60px;
  font-size: 26px;
  border-radius: 12px;
  border: 2px solid black;
  background-color: rgb(255, 180, 180);
  cursor: pointer;
  transition: 0.3s;
}

.risky-btn:hover {
  background-color: rgb(255, 100, 100);
}

/* Note */
.note {
  margin-top: 25px;
  font-size: 16px;
  color: black;
}
